* {
    margin: 0;
    padding: 0;
}

.song_container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 0 15px;
}

.title {
    font-weight: bold;
    font-size: 2rem;
    text-shadow: 2px 2px 2px goldenrod, -2px 1px 3px black;
}

.song_list {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    gap: 3px 10px;
}

.song {
    z-index: 10;
    position: relative;
    display: flex;
    margin: 7px;
    column-gap: 10px;
    padding: 5px;
    align-items: center;
}

.song_info {
    display: flex;
    flex-direction: column;
}

.song_name {
    font-weight: 500;
    font-size: 1.3rem;
}

.img_div {
    display: flex;
    justify-content: center;
    width: 50px;
    z-index: 12;
} 

.img_btn {
    position: relative;
}

.song:hover .song_img {
    filter: brightness(50%);
}

.song:hover .play {
    opacity: 1;
}

.play {
    position: absolute;
    opacity: 0;
    left: 15%;
    top: 10%;
    fill: white;
    color: white;
    height: 40px;
    width: 40px;
}

.play:hover {
    opacity: 1;
    transform: scale(1.1);
}

.song_img {
    border-radius: 10px;
    width: 100%;
    height: 100%;
}

.song:hover {
    background-color: hsla(0, 0%, 50%, 0.432);
    border-radius: 10px;
}

.song:hover .icon {
    display: block;
}

.btn {
    position: absolute;
    right: 20px;
    background: transparent;
    border: none;
}

.icon {
    display: none;
    width: 25px;
    height: 25px;
    color: rgb(96, 97, 97);
    transition: all 0.5s ease;
}

.icon:hover {
    color: white;
    transform: scale(1.1);
}

.like {
    display: block;
    color: goldenrod !important;
    fill: goldenrod;
}


